h1{
    color: chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 10;
}

h2{
    color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: initial;
    font-style: unset;
    letter-spacing: 5px;
}

p{
    text-align: center;
    color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: salmon;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img{
    height: 350px;
    width: 400px;
    margin: 25px 0 0 400px;

}

#bg{
    height: 400px;
    background-color: coral;
    background-repeat: no-repeat;
    background-position: center top;
}


